parameters:
	ignoreErrors:
		-
			message: "#^Array destruct is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Command/StartCommand.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Command/StartCommand.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Command\\\\StartCommand\\:\\:start\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Command/StartCommand.php

		-
			message: "#^PHPDoc tag @return has invalid value \\(array\\<0\\: int, 1\\: string, 2\\: string\\>\\)\\: Unexpected token \"\\:\", expected '\\>' at offset 26$#"
			count: 1
			path: Classes/Command/StartCommand.php

		-
			message: "#^Use value object over return of values$#"
			count: 2
			path: Classes/Command/StartCommand.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:getModuleTemplate\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^\"empty\\(\\$value\\)\" is forbidden to use$#"
			count: 1
			path: Classes/Crypt/Transfer/Encrypter.php

		-
			message: "#^Cannot call method warning\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Crypt/Transfer/Encrypter.php

		-
			message: "#^\"empty\\(\\$type\\)\" is forbidden to use$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^\"empty\\(\\$value\\)\" is forbidden to use$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message:
				"""
					#^"switch \\(\\$type\\) \\{
					    case \\\\Brotkrueml\\\\JobRouterBase\\\\Enumeration\\\\FieldTypeEnumeration\\:\\:TEXT\\:
					        \\$value \\= \\(string\\) \\$value;
					        if \\(\\$fieldSize \\!\\=\\= 0\\) \\{
					            \\$value \\= \\\\substr\\(\\$value, 0, \\$fieldSize\\);
					        \\}
					        return \\$value;
					    case \\\\Brotkrueml\\\\JobRouterBase\\\\Enumeration\\\\FieldTypeEnumeration\\:\\:INTEGER\\:
					        return \\$value \\=\\=\\= '' \\? '' \\: \\(int\\) \\$value;
					\\}" is forbidden to use$#
				"""
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Call to an undefined method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\StepRepository\\:\\:findOneByHandle\\(\\)\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Cannot call method critical\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 3
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Cannot call method getName\\(\\) on Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Process\\|null\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Cannot call method getProcesstablefields\\(\\) on Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Process\\|null\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Class cognitive complexity is 17, keep it under 10$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Finishers\\\\StartInstanceFinisher\\:\\:considerTypeForFieldValue\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Parameter \\#1 \\$handle of method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Finishers\\\\StartInstanceFinisher\\:\\:determineStep\\(\\) expects string\\|null, array\\|string\\|null given\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Parameter \\#1 \\$stepUid of method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Transfer\\:\\:setStepUid\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Parameter \\#1 \\$type of method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Transfer\\:\\:setType\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Parameter \\#2 \\$value of method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Finishers\\\\AbstractTransferFinisher\\:\\:resolveFormFields\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Parameter \\#2 \\$value of method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\VariableResolvers\\\\VariableResolver\\:\\:resolve\\(\\) expects string, array\\|string given\\.$#"
			count: 2
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Use another value object over array with string\\-keys and objects, array\\<string, ValueObject\\>$#"
			count: 1
			path: Classes/Domain/Finishers/StartInstanceFinisher.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Process\\:\\:getProcesstablefields\\(\\) return type with generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage does not specify its types\\: TEntity$#"
			count: 1
			path: Classes/Domain/Model/Process.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Process\\:\\:setProcesstablefields\\(\\) has parameter \\$processtablefields with generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage but does not specify its types\\: TEntity$#"
			count: 1
			path: Classes/Domain/Model/Process.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Transfer\\:\\:setProcesstable\\(\\) has parameter \\$processtable with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Model/Transfer.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: Classes/Domain/Model/Transfer.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Domain/Repository/ProcessRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\ProcessRepository\\:\\:findAllWithHidden\\(\\) should return iterable&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface but returns array\\|TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface\\.$#"
			count: 1
			path: Classes/Domain/Repository/ProcessRepository.php

		-
			message: "#^Cannot call method fetchAll\\(\\) on Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\.$#"
			count: 3
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Cannot call method fetchColumn\\(\\) on Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\.$#"
			count: 2
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Domain/Repository/StepRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\StepRepository\\:\\:findAllWithHidden\\(\\) should return iterable&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface but returns array\\|TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface\\.$#"
			count: 1
			path: Classes/Domain/Repository/StepRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\TransferRepository\\:\\:findErroneousTransfers\\(\\) should return iterable&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface but returns array\\|TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface\\.$#"
			count: 1
			path: Classes/Domain/Repository/TransferRepository.php

		-
			message: "#^Offset 'exitCode' does not exist on array\\|null\\.$#"
			count: 1
			path: Classes/EventListener/ToolbarItemProvider.php

		-
			message: "#^Offset 'start' does not exist on array\\|null\\.$#"
			count: 1
			path: Classes/EventListener/ToolbarItemProvider.php

		-
			message: "#^Property Brotkrueml\\\\JobRouterProcess\\\\EventListener\\\\ToolbarItemProvider\\:\\:\\$lastRunInformation type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/EventListener/ToolbarItemProvider.php

		-
			message: "#^Binary operation \"\\.\" between 'Affected rows\\: ' and Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\<min, \\-1\\>\\|int\\<1, max\\> results in an error\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method notice\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Transfer\\\\Deleter\\:\\:run\\(\\) should return int but returns Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\|int\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method critical\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Preparer.php

		-
			message: "#^Array with keys is not allowed\\. Use value object to pass data instead$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Call to an undefined method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\TransferRepository\\:\\:findByStartSuccess\\(\\)\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Starter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Cannot call method getName\\(\\) on Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Process\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Starter.php

		-
			message: "#^Class cognitive complexity is 24, keep it under 10$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Do not use static property$#"
			count: 3
			path: Classes/Transfer/Starter.php

		-
			message: "#^Parameter \\#1 \\$pool of method Brotkrueml\\\\JobRouterClient\\\\Model\\\\Incident\\:\\:setPool\\(\\) expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Parameter \\#1 \\$priority of method Brotkrueml\\\\JobRouterClient\\\\Model\\\\Incident\\:\\:setPriority\\(\\) expects int\\<1, 3\\>, int given\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Parameter \\#1 \\$step of method Brotkrueml\\\\JobRouterClient\\\\Model\\\\Incident\\:\\:setStep\\(\\) expects int\\<1, max\\>, int given\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Parameter \\#2 \\$process of method Brotkrueml\\\\JobRouterProcess\\\\Transfer\\\\Starter\\:\\:getProcessTableField\\(\\) expects Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Process, Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Process\\|null given\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Parameter \\#3 \\$data of method Brotkrueml\\\\JobRouterClient\\\\Client\\\\IncidentsClientDecorator\\:\\:request\\(\\) expects array\\<string, mixed\\>\\|Brotkrueml\\\\JobRouterClient\\\\Client\\\\ClientDecorator, Brotkrueml\\\\JobRouterClient\\\\Model\\\\Incident given\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Strict comparison using \\=\\=\\= between Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Step and null will always evaluate to false\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php
