parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\View\\\\ViewInterface\\:\\:getModuleTemplate\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^Parameter \\#1 \\$href of method TYPO3\\\\CMS\\\\Backend\\\\Template\\\\Components\\\\Buttons\\\\LinkButton\\:\\:setHref\\(\\) expects string, array\\<string, bool\\|string\\|null\\>\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: Classes/Controller/BackendController.php

		-
			message: "#^Cannot call method get\\(\\) on Brotkrueml\\\\JobRouterProcess\\\\Crypt\\\\Transfer\\\\EncryptedFieldsBitSet\\|null\\.$#"
			count: 1
			path: Classes/Crypt/Transfer/Decrypter.php

		-
			message: "#^Cannot call method getUid\\(\\) on Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Transfer\\|null\\.$#"
			count: 1
			path: Classes/Crypt/Transfer/Decrypter.php

		-
			message: "#^Cannot call method getUid\\(\\) on Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Model\\\\Transfer\\|null\\.$#"
			count: 1
			path: Classes/Crypt/Transfer/Encrypter.php

		-
			message: "#^Cannot call method set\\(\\) on Brotkrueml\\\\JobRouterProcess\\\\Crypt\\\\Transfer\\\\EncryptedFieldsBitSet\\|null\\.$#"
			count: 1
			path: Classes/Crypt/Transfer/Encrypter.php

		-
			message: "#^Cannot call method warning\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Crypt/Transfer/Encrypter.php

		-
			message: "#^Class Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\ProcessRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: Classes/Domain/Repository/ProcessRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\ProcessRepository\\:\\:findAllWithHidden\\(\\) return type with generic interface TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface does not specify its types\\: ModelType$#"
			count: 1
			path: Classes/Domain/Repository/ProcessRepository.php

		-
			message: "#^Cannot call method fetchAll\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 3
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Cannot call method fetchAllAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Cannot call method fetchColumn\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: Classes/Domain/Repository/QueryBuilder/TransferRepository.php

		-
			message: "#^Class Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\StepRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: Classes/Domain/Repository/StepRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\StepRepository\\:\\:findAllWithHidden\\(\\) return type with generic interface TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface does not specify its types\\: ModelType$#"
			count: 1
			path: Classes/Domain/Repository/StepRepository.php

		-
			message: "#^Class Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\TransferRepository extends generic class TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\Repository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: Classes/Domain/Repository/TransferRepository.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterProcess\\\\Domain\\\\Repository\\\\TransferRepository\\:\\:findErroneousTransfers\\(\\) return type with generic interface TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryResultInterface does not specify its types\\: ModelType$#"
			count: 1
			path: Classes/Domain/Repository/TransferRepository.php

		-
			message: "#^\"@\\\\rmdir\\(\\$parentFolder\\)\" is forbidden to use$#"
			count: 1
			path: Classes/Transfer/AttachmentDeleter.php

		-
			message: "#^\"@\\\\unlink\\(\\$absoluteFilePath\\)\" is forbidden to use$#"
			count: 1
			path: Classes/Transfer/AttachmentDeleter.php

		-
			message: "#^Cannot call method getIdentifier\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 1
			path: Classes/Transfer/AttachmentDeleter.php

		-
			message: "#^Cannot call method getStorage\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 1
			path: Classes/Transfer/AttachmentDeleter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/AttachmentDeleter.php

		-
			message: "#^Cannot call method notice\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/AttachmentDeleter.php

		-
			message: "#^Cannot call method warning\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/AttachmentDeleter.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 3
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method notice\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method warning\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, int\\|string\\|null given\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Property Brotkrueml\\\\JobRouterProcess\\\\Transfer\\\\Deleter\\:\\:\\$attachmentFieldsForProcess \\(array\\<int, array\\<string\\>\\>\\) does not accept array\\<int\\|string, array\\<string\\>\\>\\.$#"
			count: 1
			path: Classes/Transfer/Deleter.php

		-
			message: "#^Cannot call method critical\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Preparer.php

		-
			message: "#^Cannot call method debug\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Starter.php

		-
			message: "#^Cannot call method error\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 1
			path: Classes/Transfer/Starter.php

		-
			message: "#^Cannot call method info\\(\\) on Psr\\\\Log\\\\LoggerInterface\\|null\\.$#"
			count: 2
			path: Classes/Transfer/Starter.php

		-
			message: "#^Class cognitive complexity is 31, keep it under 25$#"
			count: 1
			path: Classes/Transfer/Starter.php
