<phpunit
    bootstrap="../.Build/vendor/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>Unit/</directory>
            <exclude>Unit/Dashboard/Provider/TransferTypeChartDataProviderTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../Classes/</directory>
        </whitelist>
    </filter>
</phpunit>
