<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="Widget/Widget"/>
<f:section name="main">
    <f:variable name="worstStatus" value="successful"/>
    <f:if condition="{status.pendingCount}"><f:variable name="worstStatus" value="pending"/></f:if>
    <f:if condition="{status.failedCount}"><f:variable name="worstStatus" value="failed"/></f:if>

    <div class="widget-transfer-status">
        <div class="widget-transfer-status__icon widget-transfer-status__icon--{worstStatus}">
            <core:icon identifier="jobrouter-process-status-{worstStatus}" size="large" alternativeMarkupIdentifier="inline"/>
        </div>
        <div class="widget-transfer-status__content">
            <div class="widget-transfer-status__numbers">
                <f:if condition="{status.failedCount}">
                    <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Dashboard.xlf:status.failed"/>:
                    {status.failedCount}
                    <br>
                </f:if>
                <f:if condition="{status.pendingCount}">
                    <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Dashboard.xlf:status.pending"/>:
                    {status.pendingCount}
                    <br>
                </f:if>
                <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Dashboard.xlf:status.successful"/>:
                {status.successfulCount}
            </div>
            <div class="widget-transfer-status__date">
                <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Dashboard.xlf:lastRun"/>:
                <f:if condition="{status.lastRun}">
                    <f:then>
                        {status.lastRun -> f:format.date(format: '{f:translate(key: \'LLL:EXT:jobrouter_process/Resources/Private/Language/Dashboard.xlf:dateFormat\')} {f:translate(key: \'LLL:EXT:jobrouter_process/Resources/Private/Language/Dashboard.xlf:timeFormat\')}')}
                    </f:then>
                    <f:else>
                        <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Dashboard.xlf:lastRun.noInformation"/>
                    </f:else>
                </f:if>
            </div>
        </div>
    </div>
</f:section>
</html>
