<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<h1><f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:heading_text"/></h1>

<f:render section="processDemands" arguments="{processDemands: processDemands}"/>

<f:section name="processDemands">
    <h2><f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:processDemands_title"/></h2>

    <f:if condition="{processDemands}">
        <f:then>
            <table id="jobrouter-process-links-table" class="table table-vertical-top table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"><f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Database.xlf:tx_jobrouterprocess_domain_model_process.name"/></th>
                        <th scope="col"><f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Database.xlf:tx_jobrouterprocess_domain_model_process.connection"/></th>
                        <th scope="col"><f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:steps_title"/></th>
                        <th scope="col"><f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/Database.xlf:tx_jobrouterprocess_domain_model_process.processtablefields"/></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{processDemands}" as="process">
                        <f:variable name="manageProcessLink">{process.connection.baseUrl}?cmd=OpenDesigner&processname={process.name}</f:variable>
                        <tr>
                            <td><f:render section="processName" arguments="{process: process}"/></td>
                            <td>{process.connection.name}</td>
                            <td>
                                <f:if condition="{process.steps}">
                                    <ul class="jobrouter-process-items">
                                        <f:for each="{process.steps}" as="step">
                                            <li><f:render section="stepLink" arguments="{step: step}"/></li>
                                        </f:for>
                                    </ul>
                                </f:if>
                                <be:link.newRecord class="btn btn-primary btn-sm" table="tx_jobrouterprocess_domain_model_step" returnUrl="{f:be.uri(route: 'jobrouter_process')}">
                                    <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:step_link_create"/>
                                </be:link.newRecord>
                            </td>
                            <td>
                                <f:variable name="count" value="{process.processTableFields -> f:count()}"/>
                                <f:if condition="{count} == 0">
                                    <f:then>
                                        <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:x_process_table_fields_defined" arguments="{0: 'No'}"/>
                                    </f:then>
                                    <f:else>
                                        <div href="#" class="jobrouter-process-table-fields-count" style="cursor:pointer">
                                            <span class="jobrouter-process-table-fields-collapse"><core:icon identifier="actions-pagetree-collapse"/></span>
                                            <span class="jobrouter-process-table-fields-expand" style="display:none;"><core:icon identifier="actions-pagetree-expand"/></span>

                                            <f:if condition="{count} == 1">
                                                <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:one_process_table_field_defined"/>
                                            </f:if>
                                            <f:if condition="{count} > 1">
                                                <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:x_process_table_fields_defined" arguments="{0: count}"/>
                                            </f:if>
                                        </div>
                                        <ul class="jobrouter-process-table-fields-list" style="display:none;">
                                            <f:for each="{process.processTableFields}" as="field">
                                                <li>
                                                    <f:if condition="{field.description}">
                                                        <f:then>{field.description}</f:then>
                                                        <f:else>{field.name}</f:else>
                                                    </f:if>

                                                    (<f:translate key="LLL:EXT:jobrouter_base/Resources/Private/Language/General.xlf:fieldType.{field.type.value}"/><f:spaceless>
                                                        <f:if condition="{field.type.value} == 1 && {field.fieldSize} > 0">, {field.fieldSize}</f:if>
                                                    </f:spaceless>)
                                                </li>
                                            </f:for>
                                        </ul>
                                    </f:else>
                                </f:if>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <be:link.editRecord class="btn btn-default" table="tx_jobrouterprocess_domain_model_process" uid="{process.uid}" title="{f:translate(key: 'LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:action.edit_process')}">
                                        <core:icon identifier="actions-open"/>
                                    </be:link.editRecord>
                                    <f:link.external class="btn btn-default" uri="{manageProcessLink}"
                                                     target="_blank" rel="noreferrer"
                                                     title="{f:translate(key: 'LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:action.open_designer')}">
                                        <core:icon identifier="jobrouter-action-open-designer"/>
                                    </f:link.external>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>

        </f:then>
        <f:else>
            <f:be.infobox state="-1" title="{f:translate(key: 'LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:processDemands_not_found.title')}">
                <p><f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:processDemands_not_found.message"/></p>
                <be:link.newRecord class="btn btn-primary" table="tx_jobrouterprocess_domain_model_process" returnUrl="{f:be.uri(route: 'jobrouter_process')}">
                    <f:translate key="LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:process_link_create"/>
                </be:link.newRecord>
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="processName">
    <be:link.editRecord table="tx_jobrouterprocess_domain_model_process" uid="{process.uid}" title="{f:translate(key: 'LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:action.edit_process')}">{process.name}</be:link.editRecord>
    <f:if condition="{process.disabled}">
        ({f:translate(key: 'LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:status.disabled')})
    </f:if>
</f:section>

<f:section name="stepLink">
    <f:variable name="disabled" value=""/>
    <f:if condition="{step.disabled}">
        <f:variable name="disabled" value=", disabled"/>
    </f:if>
    <be:link.editRecord table="tx_jobrouterprocess_domain_model_step" uid="{step.uid}" title="{f:translate(key: 'LLL:EXT:jobrouter_process/Resources/Private/Language/BackendModule.xlf:action.edit_step')}">{step.name}</be:link.editRecord>
    ({step.handle}, {step.stepNumber}{disabled})
</f:section>

</html>
